body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: left; /* 左寄せ */
    box-sizing: border-box;
}

h2.title {
    color: #333;
    margin: 0 0 20px 0;
    font-size: 24px;
    text-align: center; /* タイトルを中央寄せ */
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px; /* 上部マージンを削除 */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: block; /* リンクをブロック要素に */
    margin-top: 20px; /* フォームとの間に余白を作る */
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.success {
    color: green;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}
