.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.product-item {
    width: 23%;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
}

.product-prices {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.product-price {
    flex: 1;
    text-align: center;
}

.products-wrapper {
    display: flex;
    flex-direction: column; /* 縦方向に並べる */
    gap: 20px; /* セール商品と通常商品の間隔 */
    margin: 20px; /* 全体の外側余白 */
}